.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main > h1 {
  font-size: 3em;
}

.fridge-list {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

@media (max-width: 900px) {
  .fridge-list {
    flex-direction: column;
  }
}

.fridge-menu-item {
  display: block;
  text-decoration: none;
  color: black;
  position: relative;
  text-align: center;
  border: 1px #777 solid;
  margin: 5px;
  height: 170px;
  font-size: 35px;
}

.fridge-menu-item:hover {
  color: white;
}

.fridge-menu-item:hover {
  text-decoration: underline;
}

.fridge-menu-item img {
  filter: blur(2px);
  width: 170px;
}

.fridge-menu-item img:hover {
  filter: invert(1);
}

.fridge-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 100%;
}
