.fridge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fridge > h1 {
  font-size: 3em;
}

.graphs {
  display: flex;
  flex-direction: row;
}

@media (max-width: 1270px) {
  .graphs {
    flex-direction: column;
  }
}

.graph-container {
  margin: 10px;
}
